
<h2>
Terms of Use and Privacy Policy for
will.i.am Content Mosaic Application
</h2>
<p>
Welcome to the will.i.am Content Mosaic Application accessible via apps.facebook.com/ultrabookproject (“Application”).  This Application is owned and operated by Intel Corporation (“Intel,” “we,” “us,” “our”) in connection with the will.i.am Content Mosaic project (“Project”). 
</p>
<p>
This Terms of Use document is specific to participation in this Project. Please read these Terms of Use ("Terms") carefully before using this Application. By accessing, downloading, or using this Application, you acknowledge and agree to abide by the following Terms. If you do not agree to these Terms, do not download or use the Application or upload content to the Application. In addition, by entering and/or participating in Project, you agree to be bound by these Terms. 
</p>
<p>
System requirements for the Project can be displayed on the following browsers with JavaScript enabled:
</p>
<ul>
<li>
<strong>
WINDOWS
</strong>
</li>
<li>
Internet Explorer 8.0 or later
</li>
<li>
Firefox 4.0 or later
</li>
<li>
Chrome 13 or later
</li>
<li>
JavaScript enabled
</li>
<li>
<strong>
MAC OS
</strong>
</li>
<li>
Safari 4.0.0 or later
</li>
<li>
Firefox 4.0 or later
</li>
<li>
Chrome 13 or later
</li>
<li>
JavaScript enabled
</li>
</ul>

<h2>
1. PRIVACY
</h2>

<p>
We are committed to protecting your privacy and encourage you to read these Terms to learn more about what personal information of yours we collect, how we use that personal information, and how you can "opt out" of receiving further communications from us. Additionally, these Terms include information about how we endeavor to protect your personal information. If you have any questions about this document, please contact us at UltrabookProject@intel.com If you do not want us to access and/or use your personal information as described in these Terms, please do not accept this Application. These Terms may be updated from time to time without prior notice, so please check back periodically. If you continue to accept and visit this Application and use the services made available to you after such updates have been made, you hereby provide your consent to the updates.
</p>
<h2>
  Information Collected; Use of Information; Sharing of Information Personally Identifiable Information.  
</h2>
<p>
Intel is committed to respecting your privacy. By clicking on "Allow" to access the Application, you are allowing the Application to access your Facebook profile's basic information, write to your profile's wall, access to post items in your News Feed, access to your profile information, and access to your list of friends (collectively “Account”). You are also allowing Intel to copy your public profile picture from your Facebook account for Intel to display (if Intel so chooses) in connection with the Project.  Other than your Facebook numerical ID, first name, email address, and any content you upload to the Application, the Application does not store any of the above information for any purpose other than Project.  As part of your participation in the Project, you will be asked to share Application activities on your profile's Wall. If you elect to share, you will have full control to manage all Application Wall posts and Apps settings. If you choose to submit content to any public area of the Application, such as Discussions and Polls, your content will be considered "public." If you submit an idea or other User Content to the Application using the submission form, we will collect and store the following additional information: last name, age, phone, address, city, state, and zip. To learn more about Intel's privacy practices, please visit <a href="http://www.intel.com/sites/sitewide/en_US/privacy/privacy.htm">Intel's Privacy Policy</a> at <a href="http://www.intel.com/sites/sitewide/en_US/privacy/privacy.htm">http://www.intel.com/Applications/Applicationwide/en_US/privacy/privacy.htm</a> ("Intel Privacy Policy").  In the event of a conflict between the Intel Privacy Policy and these Terms, the Intel Privacy Policy will control If you contact us, we may keep a record of that correspondence. Your Personal Information may be used by us to (i) process your inquiries via this Application; (ii) communicate with you; (iii) administer assistance to you when requested; and (iv) as required by applicable laws, rules or regulations applicable to this Application. We may share your Personal Information with third parties if we believe that the law requires us to do so, or to protect our own property or the property of our affiliates. Additionally, in the event of a corporate restructuring (such as a sale, merger or other asset transfer), we may share your Personal Information with a third party.  We may also share your information with service providers operating on our behalf or with whom we may partner or affiliate and we may collect.
</p>

<h2>
Non-Personally Identifiable Information. 
</h2>
<p>
We may collect certain non-personally identifiable information ("Non-Personal Information") about you by the standard operation of our Internet servers and through the use of "cookies." A "cookie" is a small amount of data sent to your browser from a web server and stored by your computer. Generally, cookies are used to enable us to deliver to you a better and more personalized service, assist us in tracking visits to the Application and to measure visitor patterns. The information we collect through the use of cookies is not personally identifiable and is used by us only to improve the Application. We do not use cookies to retrieve Personal Information from your computer, or use cookies to retrieve other information from your computer for purposes that are unrelated to the Project, the Application or your interaction with the Application. We reserve the right to disclose or utilize any of this information in aggregate form, for any purpose, in our sole judgment. The Non-Personal Information we collect is used by us to improve the content of our Application and enhance your experience. By modifying your browser preferences, you can accept or reject all cookies. If you choose to reject all cookies, you will not be able to access the portions of the Application that require you to register with this Application, including without limitation the Project.  In order to create a better electronic community, we may keep track of patterns of use in sections of the Application. We may note which links are clicked in our Application to tell us what areas are of most interest to our Application users. We may use this information to better personalize future content and promotions.  
</p>

<h2>
Protection for Children and Minors. 
</h2>
<p>
This Application is not intended for, and we have no intention of collecting personally identifiable information from, persons under the age of 18
</p>

<h2>
A Note To International Users. 
</h2>
<p>
The Application is hosted in the United States. If you are using the Application from outside the United States, by providing your information to the Application, you are consenting to the transfer of your information to the United States for processing and maintenance in accordance with these Terms. You are also consenting to the application of United States federal, and Delaware state law in all matters concerning the Application.
</p>

<h2>
Security. 
</h2>
<p>
We are committed to using our best efforts to maintaining the security of your Personal Information. To prevent unauthorized access, maintain data accuracy and ensure the appropriate use of your Personal Information, we adhere to industry standard practices and procedures to help safeguard and secure the Personal Information we collect from you. Although we use our best efforts to protect the security of your Personal Information and our system, due to the inherent open nature of the Internet, no transmission via the Internet can be guaranteed to be 100% secure. As a result of this and other factors beyond our control, we cannot guarantee the security of the information that you transmit to or through our Application. Therefore, by using the Application, accepting these Terms (including as updated), you hereby agree to assume all risk relating to the security of that information by using the Application.
</p>

<h2>
Links to Other Websites and Applications.
</h2>
<p>
This Application may contain links to other websites or applications as part of the Application. Please be aware that we are not responsible for such other websites or applications in any manner including without limitation, the privacy practices of other websites or applications. We encourage you to be aware when you access any such links to other websites and applications and to read the privacy policies of each website or application that you access. These Terms apply only to information collected by us by this Application.  
</p>

<h2>
2. USER ACCOUNT
</h2>
<h2>
Description of Services: 
</h2>
<p>
an Application owned or operated by Intel or an Intel vendor or designee, for the purpose of promoting the Project, and to provide a user-driven community.  Services may include user registration, participation, public sharing, posting, uploading, linking, downloading, and transferring, viewing, submitting or transmitting materials (including, but not limited to graphics, data, art, video, audio, text, opinions, etc.) on this Application (User Activities).  
Registration Obligations: In order to participate in the Application’s User Activities you must register and establish a User Account on Facebook® (“Account”).  To participate in this Application, you must: (1) be at least 18 years of age or older, (2) affirmatively accept these Terms when prompted by the Application to do so, and (3) maintain and promptly update your Account as necessary to keep it true, accurate, current and complete. If, after investigation Intel has reasonable grounds to suspect that any of your information is untrue, inaccurate, not current or incomplete, Intel may suspend or terminate your current or future use of the Application (or any portion thereof). 
</p>
<h2>
Password and User Name: 
</h2>
<p>
You may need to enter a password and username and receive Account designations upon completing the Facebook® registration processes. You are solely responsible for maintaining the confidentiality of your password and username. Furthermore, you are entirely responsible for any and all activities under your Account. You agree to notify Intel immediately of any unauthorized use or any other breach of security on your Account. Intel will not be liable for any loss incurred as a result of an unauthorized use of a password or account.  However, you could be held liable for losses incurred by Intel or another party due to an unauthorized use of your Account or password.  Unauthorized use of another’s account or password is strictly prohibited. 
</p>
<h2>
User-Requested Termination:  
</h2>
<p>If you close your Account, remove content that you have submitted or would otherwise like to terminate participation in the Project, you should contact UltrabookProject@intel.com. A user's request for termination will result in deletion of his or her User Content (defined in Section 3.A. below).  
</p>
<h2>
Termination by Intel: 
</h2>
<p>
Intel may terminate your participation in the Project at its absolute discretion and for any reason. Intel is especially likely to terminate for reasons that include, but are not limited to, the following: (1) violation of these Terms; (2) abuse of Application resources or attempt to gain unauthorized entry to the Application or Application resources; (3) use of this or any Intel web Application or service in a manner inconsistent with its purpose; (4) a user's request for such termination; (5) posting of inappropriate or obscene materials (6) violation of copyright, trademark, publicity rights or other laws, or (7) as required by law, regulation, court or governing agency order.  
</p>
<p>
Intel’s termination of your access to the Application may be effected without notice and, on such termination, Intel may immediately deactivate or delete your User Content and/or bar any further access to the Application. Intel will not be liable to any user or other third party for any such access termination.   
</p>
<h2>
3. USER GENERATED CONTENT 
</h2>
<p>
<h2>
User Content: 
</h2>
<p>
The Application may host or facilitate User Activities or Services for the purpose of allowing users to share content, ideas and materials, as well as their name, voice and likeness (collectively, the “User Content”) publicly.  Use of these services and activities is limited to registered Facebook® Account holders in compliance with these Terms.
</p>
<h2>
Ownership of User Content:
</h2>
<p>
Intel does not claim ownership of any User Content submitted, posted, transmitted, made available or displayed on, or through, the Application, including, but not limited to, data, text, sound, images, videos, diagrams, audio, information, graphs, or descriptions on the Application. Unless otherwise agreed to in writing, there is no compensation for User Content.  Intel is under no obligation to post or use any User Content submitted and Intel may remove any User Content at any time in its sole discretion.    
</p>
<h2>
License to Use User Content and User’s Name and Likeness. 
</h2>
<p>
By posting, uploading, inputting, providing or submitting User Content, you grant Intel, its affiliated companies, sublicensees and Application users a perpetual, irrevocable and fully sublicensable, worldwide, royalty-free, non-exclusive license to (i) use, distribute, reproduce, format, publish, syndicate, publicly perform and publicly display the User Content (in whole or in part), including the use of any names, voices, likenesses, trademarks or tradenames or copyrighted materials depicted in the User Content; (ii)  incorporate such User Content into other works in any format or medium now known or later developed for any and all commercial or non-commercial purposes; and (iii) use your name, voice, likeness and biographical information in connection with the Project.
</p>
<h2>
Responsibility for User Content: 
</h2>
<p>
All User Content, whether publicly posted or privately transmitted, is the sole responsibility of the person from whom such content originated. This means that you, and not Intel, are entirely responsible for any and all content that you upload, post, share, or otherwise display via the Application. 
</p>
<h2>
Warranties and Representations for the User Content:
</h2>
<p>
By posting or submitting User Content you warrant and represent that you own or otherwise control any and all of the rights to your User Content, including, but not limited to, all the rights necessary for you to provide, post, upload, input or submit the User Content.  You warrant and represent that: (a) you are the copyright owner of the User Content, including any copyrighted material depicted in the User Content or that the copyright owner has granted you permission to use such content consistent in connection with this Application and otherwise consistent with these Terms, (b) each person whose name, voice or likeness is depicted in your User Content, if any, has provided consent to such use in connection with this Application and in accordance with these Terms, and (c) you have the rights necessary to grant the licenses and sublicenses described in these Terms. Intel reserves the right to request a proof of ownership or permission, and to refuse to post User Content without such proof or if such proof is not, at its sole discretion, sufficient. 
</p>
<h2>
Indemnification: 
</h2>
<p>
You agree to indemnify and hold Intel and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of content you submit, post, transmit or otherwise make available through the Applications, your use of the Application, your connection to the Application, your violation of the Terms, or your violation of any rights of another.
</p>
<h2>
Prohibitions: 
</h2>
<p>
In relation to any User Content you agree that you will not: 
</p>
<ol>
Upload or otherwise make available any music, lyrics music performance or recording, separately or as part of other User Content;
Upload or otherwise make available any photos or video containing people obviously under the age of 18, wearing suggestive outfits, making profane gestures, or containing any obvious gang symbols, profanity or that are “overly romantic” or that may appear as gross to the general public;
c.   Transmit content or otherwise conduct or participate in any activities on the Application that is prohibited by law in any applicable jurisdiction, including laws governing the encryption of software, the export of technology, the transmission of obscenity, copyright law, or the permissible uses of intellectual property, or make mention of or reference to criminal or immoral activity such as drugs, prostitution, pimping, fraud, stalker, extortion, terrorism or hoaxes or other elements you know to be illegal;
d.	Upload, or otherwise make available, files that contain images, software or other material protected by intellectual property laws, including, by way of example, copyright or trademark laws unless you own or control the rights thereto or have received all necessary consents to submit such materials to the Application;
e.	Use any material or information, including images or photographs, which are made available through the Application in any manner or audio or visual material that infringes any copyright, trademark, patent, trade secret, privacy, publicity or other proprietary right of any party (e.g., company logos, artwork in the background, company or sports team logos;
f.  	Upload, post, email, transmit or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, pornographic, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable, such as homophobic references or extreme declarations of a person’s own sexual preference, references to upsetting/distressing subjects, anything offensive to any group of people or religion, inciting or directly referring to violence, references to political bias, messages containing hidden or disguised meaning, use of meaningless words, use of nicknames that are inflammatory, vulgar, promotional, a domain name or rude
g.	Use the Application to “stalk” or otherwise threaten, harass or harm another, to “troll” posts, or to engaging in flaming;
h.   Impersonate any person or entity, including, but not limited to, an Intel official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity or collect or store personal data about other users in connection with the prohibited conduct and activities;
i.	Upload, post, email, transmit or otherwise make available any content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);

Upload, post, email, transmit or otherwise make available any content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;
Upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation or engaging in link baiting (embedding a link in your post to draw traffic to your own site);
Upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
Use the Application in any manner that could damage, disable, overburden, or impair any Intel server, or network(s) connections, disobey any requirements, procedures, policies or regulations of networks connected to the Application or interfere with any other party's use and enjoyment of the Application;
Attempt to gain unauthorized access to any Application, Accounts, computer systems or networks connected to any Intel server or Application, through hacking, password mining or any other means or obtain or attempt to obtain any materials or information through any means not intentionally made available through the Application;
Intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law; 
Provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act; 
Sell, resell, or offer for any commercial purposes, any portion of Application, use of Application, or access to the Application;
Make any competitive mentions or comparisons, engage in brand bashing or disrespecting, insulting or attacking users, brands or message posts;
Offer to sell or self promote anything, including junk mail, spam, chain letters, pyramid schemes, or upload or otherwise transmit any other unauthorized solicitation, commercial message, or endorsement of a product or service or a celebrity endorsement or link, url to commercial web sites or other code;
Upload files that contain viruses, Trojan horses, worms, time bombs, corrupted files, or any other similar software or programs that may damage or interfere with the operation of another's computer or property of another;
Forge headers or otherwise manipulate identifiers (including URLs) in order to disguise the origin of any materials transmitted to or from the Application, or delete or alter any attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other uploaded material; and/or
Collect or disclose  information about others, including e-mail addresses, telephone numbers or other personal information
</ol>
<h2>
Application: 
</h2>
<p>
You acknowledge that Intel may or may not moderate or pre-screen User Content submitted.  Intel and its designees retain the right, at Intel’s sole discretion to pre-screen, refuse, monitor, restrict access to, edit, or remove any User Content from the Application. Without limiting the foregoing, Intel reserves the right to refuse or delete any User Content of which it becomes aware and at its sole discretion deems infringing, inappropriate or not to fulfill the spirit or purpose of the Application. In addition, Intel shall have the right (but not the obligation) in its sole discretion to refuse or delete any User Content that it reasonably considers to violate these Terms or to be otherwise illegal. Intel Corporation, in its sole and absolute discretion, may preserve User Content and may also disclose User Content if required to do so by law or judicial or governmental mandate or as reasonably determined useful by Intel to protect the rights, property, or personal safety of Application, its users and the public. 
</p>
<p>
Intel does not control the User Content posted to the Application and, as such, does not guarantee the accuracy, integrity or quality of such Content. Under no circumstances will Intel Corporation be liable in any way for any User Content, including, but not limited to, liability for any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed or otherwise transmitted via the Application.
</p>
<h2>
Idea Appropriation
</h2>
<p>
By submitting User Content, you agree your disclosure is gratuitous, unsolicited and without restriction and will not place Intel under any fiduciary or other obligation, that Intel is free to disclose the ideas on a non-confidential basis to anyone or otherwise use the ideas without any additional compensation.  You acknowledge that, by acceptance of your submission, Intel does not waive any rights to use similar or related ideas previously known to Intel, or developed by its employees, or obtained from sources other than you.
</p>
<h2>
4. NO WARRANTIES.  
</h2>
<p>
INTEL EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. INTEL MAKES NO WARRANTY THAT (i) THE APPLICATION OR ANY SERVICE THEREON WILL MEET YOUR REQUIREMENTS, (ii) ANY USER ACCESS WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, (iii) THE QUALITY OF ANY CONTENT, PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL OBTAINED BY ANY USER WILL MEET HIS OR HER EXPECTATIONS, (iv) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED, AND (v) ANY CONTENT UPLOAD TO THE APPLICATION IS PROTECTED OR SECURE, AND (vi) THE INFORMATION, TEXT, GRAPHICS, LINKS OR OTHER ITEMS CONTAINED WITHIN THE APPLICATION IS COMPLETE OR ACCURATE. 
</p>

<h2>
5. LIMITATION OF LIABILITY: 
</h2>
<p>
YOUR USE OF THE APPLICATION IS AT YOUR SOLE RISK.  THE APPLICATION IS PROVIDED "AS IS" AND "AS AVAILABLE" AND INTEL ASSUMES NO RESPONSIBILITY FOR THE TIMELINESS, DELETION, MIS-DELIVERY OR FAILURE TO STORE ANY USER COMMUNICATIONS OR PERSONALIZATION SETTINGS. EACH USER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO HIS OR HER COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF THE APPLICATION. INTEL SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF INTEL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), OR COST OF PROCUREMENT OF SUBSTITUTE SERVICES; UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE APPLICATION; OR ANY OTHER MATTER RELATING TO THE APPLICATION. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. 
</p>

<h2>
6. INDEMNIFICATION: 
</h2>
<p>
You shall indemnify, defend and hold harmless Intel Corporation, Facebook®, and their respective affiliates and their respective officers, employees and agents, from any and all claims, demands, damages, costs, and liabilities including reasonable attorneys' fees, made by any third party due to or arising out of your acts or omissions, including claims arising out of your use of the Application, your submissions, postings or transmission on the Application, or your violation of these Terms. 
</p>
<h2>
7. NO ENDORSEMENTS: 
</h2>
<p>
Any opinions, advice, statements, services, offers or other information or content made or expressed by third parties, including users, information providers, or others, are those of the respective authors or distributors and do not state or reflect those of Intel Corporation or its affiliates. Further, reference on this Application by a third party, including users of the Application, to any specific commercial products, process, or service by trade name, trademark, manufacturer, or otherwise, and however characterized, does not constitute or imply endorsement, recommendation, affiliation with or favoring of such products by Intel Corporation, its affiliates or other users, nor, necessarily, the party making the statement.  Nor do such statements necessarily indicate that the person making the statement received consideration in return for the statements, unless otherwise noted. 
</p>
<h2>
8. RELATIONSHIP:
</h2>
<p>
Nothing in these Terms will be deemed to create an agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship of any kind between Intel and you or any other person or entity nor do these Terms extend rights to any third party. Intel does not and cannot control the actions of Application users, visitors or linked third parties. We reserve the right to report any malfeasance that comes to our attention to the appropriate authorities.
</p>
<h2>
9.  NO SPONSORSHIP BY FACEBOOK®: 
</h2>
<p>
This Application is in no way sponsored, endorsed or administered by, or associated with, Facebook®. You understand that you are providing your information to Sponsor and not to Facebook®. Any questions, comments or complaints regarding this Application should be addressed to Intel Corporation and not to Facebook®.
</p>
<h2>
10. GENERAL TERMS
</h2>
<p>
General Practices Regarding Use and Storage: Intel may establish general practices and limits concerning use of the Application. While Intel will use reasonable efforts to back up Application data and make such data available in the event of loss or deletion, Intel has no responsibility or liability for the deletion or failure to store any data or other content maintained or transmitted by others on this Application or any Intel Application. Intel reserves the right to mark as "inactive" and archive Accounts and/or content that is inactive for an extended period of time. Intel reserves the right to change these general practices at any time, at its sole discretion. 
</p>
<h2>
Trademarks: 
</h2>
<p>
Intel logos and service marks, and product and service names are Intel trademarks or registered trademarks in the United States and in other countries (the "Intel Corporation Marks"). These Terms of use do not grant user any license in Intel trademarks or any Intel owned assets or intellectual property. All other names and designs may be trademarks of their respective owners. 
</p>
<h2>
Copyrights: 
</h2>
<p>
Intel Corporation respects the intellectual property rights of others, and requires that the people who use the Application do the same. It is our policy to respond promptly to claims of intellectual property misuse.  If you believe that your work has been copied and is accessible on this Application in a way that constitutes copyright infringement, you may notify us at <a href="http://www.intel.com/sites/corporate/dmca.htm">DMCA Process</a>.  If Intel determines, based on its sole discretion that you are a repeat offender under the DMCA, your participation in the Project may be deactivated, all your content removed, and Intel reserves the right to take any other actions it deems necessary, including notifying the appropriate government authorities. 
</p>
<h2>
No Commercial Use:  
</h2>
<p>
This Application, including any content, e.g., music, that Intel makes available to you in connection with this Application is for your personal and non-commercial use only and may not be transferred, published, displayed, or otherwise distributed except as specifically authorized by Intel.
</p>
<h2>
E. No Unlawful or Prohibited Use:
</h2>
<p>
You agree that you will not use the Application for any purpose that is unlawful or prohibited by these Terms.
</p>
<h2>
Entire Agreement, Choice of Law and Venue:
</h2>
<p>
The Terms constitute the entire agreement between you and Intel and govern your use of the Application. Each user may be subject to additional terms and conditions that may apply when that user uses affiliate services, third party content or software. The Terms and the relationship between you and Intel shall be governed by the laws of the State of Delaware without regard to its conflict of law provisions and each party shall submit to the personal and exclusive jurisdiction of the courts located within the State. If any provision of these Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect. 
</p>
<h2>
Violations: 
</h2>
</p>
Please report any violations of the Terms (except for claims of copyright infringement, see paragraph 7. C above for instructions) to <a href="http://www.intel.com/feedback.htm?iid=SEARCH">Contact Us</a>.
</p>
<h2>
H. Contact Us:
</h2>
<p>
If you have any questions, comments or concerns regarding these Terms of Use and/or the practices described herein, please email us at UltrabookProject@intel.com. 
</p>
<h2>
11. Amendment of these Terms.
</h2>
<p>
At any time, we may amend these Terms (including by modification, deletion and/or addition of any portion thereof). If we make a material amendment to these Terms, we will post the amended Terms (with date of such amended Terms) on the Application. You agree to be bound by any changes to these Terms when you visit and/or use the Application after the date of any such amendment.  We may also, in our sole discretion, notify you of such amendment by sending you an email at the last email address that you provided us.  Please note that, at all times, you are responsible for updating your personal information to provide us your current e-mail address. In the event that the last e-mail address that you have provided us is not valid, or for any other reason is not capable of delivering to you the notice described above, our dispatch of the e-mail containing such notice will nonetheless constitute effective notice of any amendment described in the notice.
</p>
<p>
<h2>
12. Facebook® 
</h2>
<p>
Facebook® is a registered trademark of Facebook, Inc. Copyright © 2011 Intel Corporation. All rights reserved. 
</p>


<p>
This Terms of Use document was last updated on 2/14/2012.
</p>
