<script id="template-download" type="text/x-jquery-tmpl">
  <div class="template-download{{if error}} ui-state-error{{/if}}">
      {{if error}}
          <div class="error">Error:
              {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
              {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
              {{else error === 3}}File was only partially uploaded
              {{else error === 4}}No File was uploaded
              {{else error === 5}}Missing a temporary folder
              {{else error === 6}}Failed to write file to disk
              {{else error === 7}}File upload stopped by extension
              {{else error === 'maxFileSize'}}File is too big
              {{else error === 'minFileSize'}}File is too small
              {{else error === 'acceptFileTypes'}}Filetype not allowed
              {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
              {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
              {{else error === 'emptyResult'}}Empty file upload result
              {{else}}${error}
              {{/if}}
          </div>
      {{else}}
          <div class="preview cufon-intel">
		  Almost done. We've received your pic and are quickly reviewing for content. 
		  Check back within 24 hrs to see if you've been approved.
              {{if thumbnail_url}}
                  <a href="${url}" target="_blank" rel="shadowbox[gallery]" title="${title}"><img src="${medium_url}"></a>
              {{/if}}
          </div>
      {{/if}}
  </div>
</script>
