<script id="template-upload" type="text/x-jquery-tmpl">
  <tr class="template-upload{{if error}} ui-state-error{{/if}}">
      <td class="preview"></td>
      {{if error}}
          <td class="error" colspan="2">Error:
              {{if error === 'maxFileSize'}}File is too big
              {{else error === 'minFileSize'}}File is too small
              {{else error === 'acceptFileTypes'}}Filetype not allowed
              {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
              {{else}}${error}
              {{/if}}
          </td>
      {{else}}
      {{/if}}
  </tr>
</script>
