/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 //= require jquery.fileupload-ui
 //= require nifty-layout
 //= require best_in_place
 //= require shadowbox
*/

#simplemodal-data,
#simplemodal-container,
#simplemodal-container iframe{
	overflow-y: hidden;
	overflow-x: hidden;
}

h1{
	font-weight: normal;
}
.cufon-intel{
	color: #fff;
}

h2.cufon-intel{
	margin: 0px;
}

.page_picture_upload form label{
	color: #fff;
	font-size: 14px;
}
.page_picture_upload form input,
.page_picture_upload form textarea{
	font-family: tahoma;
	font-size: 10px;
	background: #fff;
	width: 320px;
}

.page_picture_upload form input#mosaic_fb_share{
	width: 15px;
}

#fileupload{
	clear: both;
}

.fileupload-buttonbar,
.fileupload-content.ui-widget-content{
	float: right;
	position: absolute;
}

.fileupload-content.ui-widget-content{
	border: none;
	background: none;
	left: 0px;
}


.files .preview{
	width: 180px;
	height: 100px;
	overflow: hidden;
}

#upload_start{
	display: none;
}

.start button,
.cancel button{
	display: none;
}

#description_input{
	display: none;
}

textarea#picture_description{
	width: 150px;
	height: 50px;
}

#fileuser{
	width: 350px;
}
#fbavatar_copy,
#fbavatar{
	float: left;
}
#fbavatar_copy{
	width: 250px;
	padding-left: 10px;
}

.thumb_paste{
	width: 180px;
	height: 100px;
	overflow: hidden;
}
.thumb_paste img{
	width: 180px;
	position: relative;
	top: -50px;
}

.template-download .preview.cufon-intel{
	font-size: 10px;
}

#fb_like_container{
	width: 125px;
	height: 38px;
	margin-left: 20px;
	margin-top: 9px;
}

#intel_about a{
	display: block;
	width: 275px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 125px;
}

#william_listen a{
	display: block;
	width: 249px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 400px;
}

.fb-comments.fb_iframe_widget{
	left: 150px;
	top: 60px;
}

#intel_tos{
	position: relative;
	left: 150px;
	top: 90px;
}
