/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 //= require jquery.fileupload-ui
 //= require nifty-layout
 //= require best_in_place
 //= require shadowbox
*/

#loading {
	top: 50%;
	margin-bottom: 25px;
	margin-left: 45%;
	margin-right: 45%;
	width:128px;
	height:128px;
	background-image: url(../assets/spinner.gif);
}


#fileupload{
	clear: both;
}

.fileupload-buttonbar,
.fileupload-content.ui-widget-content{
	float: right;
	position: absolute;
}

.fileupload-content.ui-widget-content{
	border: none;
	background: none;
	left: 0px;
}

.files{
	margin: 0px;
}

.files .preview{
	width: 180px;
	height: 100px;
	overflow: hidden;
}

#upload_start{
	display: none;
}

.start button,
.cancel button{
	display: none;
}

#description_input{
	display: none;
}

textarea#picture_description{
	width: 150px;
	height: 50px;
}

#fbavatar_copy,
#fbavatar{
	float: left;
}

.fb-comments.fb_iframe_widget{
	left: 150px;
}
