/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 //= require jquery.fileupload-ui
 //= require nifty-layout
 //= require best_in_place
 //= require shadowbox
 //= require fileinput-basic 
 //= require fileinput-enhanced
*/

.fileupload-content .template-download{
  margin-left: 15px;
  overflow: visible;
  width: 350px;

}
.preview img.spinner{
        position: absolute;
        top: 0px;
        left: 30px;
}

#upload_start{
	cursor: pointer;
}

#video-submit{
	background-image: url(/assets/video-submit.png);
	width: 155px;
	height: 29px;
	border: none;
	margin-top: 5px;
}
#upload_start{
	background-image: url(/assets/upload-add-button.png);
	width: 155px;
	height: 29px;
	border: none;
	margin-top: 5px;
}
.fileupload-progressbar{
	display: none;
}

#simplemodal-data,
#simplemodal-container,
#simplemodal-container iframe{

	overflow-x: hidden;

#video_display{
	position:abosolute;
	text-align:center;
	vertical-align:top;
	width:600px;
	height:350px;
	top: 0px;
	left: 0px;
}
#vid_frame {
	position:absolute;
	text-align:center;
	top: 15px;
	width: 640px;
	height: 340px;
}
#simplemodal-container a.modalCloseImg {
	background:url(/assets/ui/close.png) no-repeat; /* adjust url as required */
	width:44px;
	height:44px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-10px;
	right:-5px;
	cursor:pointer;
}

#modal_containerVideo{
	position:fixed;
	top: 15px;
	width: 800px;
	height: 800px;
	display:none;
}

h1{
	font-weight: normal;
}
.cufon-intel{
	color: #fff;
}

h3.cufon-intel,
h2.cufon-intel{
	margin: 0px;
}

.page_picture_upload form label{
	color: #fff;
	font-size: 14px;
	display: inline;
}


.page_picture_upload form input,
.page_picture_upload form textarea{
	font-family: tahoma;
	font-size: 10px;
	background: #fff;
	width: 320px;
}

.page_picture_upload form input#mosaic_fb_share{
	width: 15px;
}

#fileupload{
	clear: both;
}

.fileupload-buttonbar,
.fileupload-content.ui-widget-content{
	/*float: right;*/
	position: absolute;
}

.fileupload-content.ui-widget-content{
	border: none;
	background: none;
	left: 0px;
}


.files .preview{
	width: 180px;
	height: 100px;
	overflow: hidden;
}

.preview a[rel="shadowbox[gallery]"]{
	width: 350px;
	margin-top: 8px;
	display: block;
}
.preview a[rel="shadowbox[gallery]"] img{
	display: block;
	margin: auto;
}



#upload_start{
	display: none;
}

.start button,
.cancel button{
	display: none;
}

#description_input{
	display: none;
}

textarea#picture_description{
	width: 150px;
	height: 50px;
}

#fileuser{
	width: 350px;
}
#fbavatar_copy,
#fbavatar{
	float: left;
}
#fbavatar_copy{
	width: 250px;
	padding-left: 10px;
}

.thumb_paste{
	width: 180px;
	height: 100px;
	overflow: hidden;
}
.thumb_paste img{
	width: 180px;
	position: relative;
}

.template-download .preview.cufon-intel{
	font-size: 10px;
}

#fb_like_container{
	width: 125px;
	height: 38px;
	padding-left: 20px;
	padding-top: 9px;
}

#swf_div_wrap {
	padding:0px; 
	margin:0px; 
	width:744px; 
	height:564px;
}

#intel_about a{
	display: block;
	width: 275px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 125px;
}

#william_listen a{
	display: block;
	width: 249px;
	height: 38px;
	position: absolute;
	top: 0px;
	left: 400px;
}

.fb-comments.fb_iframe_widget{
	/*left: 150px;
	top: 60px;*/
	width:470px;
	height:114px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

#intel_tos{
	color: #222;
	font-size: 10px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
